<%= form_with model: @comment do |form| %>
  <div>
    <h4>
      <%= form.label :creator, "Creator" %>
    </h4>
    <%= form.text_field :creator %>
    <p>
      <%= form.label :content, "Description" %>
    </p>
    <%= form.text_area :content %>
  </div>
  <div>
    <%= form.submit "Send" %>
  </div>
<% end %>