<h1>
  Task Title: <%= @task.title %>
</h1>
<p>
  Task Description: <%= @task.description %>
</p>
<p>
  Status: <%= @task.is_done? %>
</p>
<h2>Comments:</h2>
<% @comments.each do |comment| %>
  <div>
    <h4>Author: <%= comment.creator %></h4>
    <p>Text: <%= comment.content %></p>
  </div>
<% end %>
<div>
  <h4>
    Add a comment:
  </h4>
  <%= render partial: "comments/form", locals:{ comment: @comment}  %>
</div>