<!DOCTYPE html>
<html>
  <head>
    <title>CommonBlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
      <%= link_to 'Home', root_path %>
      <% unless current_page?(new_task_path) %>
        <%= link_to 'Create New Task', new_task_path %>
      <% end %>
    </nav>
    <%= yield %>
  </body>
</html>
